{% extends "base.html" %}
{% block title %} {{ user.username }}{% endblock %}
{% block page_content %}
<div class="page-header">
    <img class="rounded-circle profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        <p>
            Name: {% if user.name %}{{ user.name }}{% endif %}
        </p>
        {% if user.name or user.location %}
        <p>
            {% if user.location %}
                From: <a href="http://maps.google.com/?q={{ user.location }}">
                    {{ user.location }}
                </a>
            {% endif %}
        </p>
        </p>
        {% endif %}

        {% if current_user.is_administrator() %}
        <p>Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        <p>About Me: {% if user.about_me %}{{ user.about_me }}{% endif %}</p>

        <p>
            Member since {{ moment(user.member_since).format('L') }}.
            Last seen {{ moment(user.last_seen).fromNow() }}.
        </p>
        <p>
            {% if user == current_user %}
                <a href="{{url_for('main.edit_profile')}}"><span class="badge badge-info">Edit Profile</span></a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}