{% extends "bootstrap/base.html" %}

{% block head %}
<title>{% block title %}{% endblock %}</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

{% endblock %}

{% block navbar %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand pull-left"><img src="{{ url_for('static', filename='imgs/favicon.png') }}" style="width:35px;height: auto; padding-right: 10px">HNKATWE</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 50px;">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-4 col-lg-3" style="padding-bottom: 10px">

      <div class="bootstrap-vertical-nav">

        <button class="btn btn-primary d-md-none" data-toggle="collapse" href="#collapseExample">
          <span class="">Menu</span>
        </button>

        <div class="collapse" id="collapseExample">
          <ul class="nav flex-column" id="exCollapsingNavbar3">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Make an Enquiry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-9" style="padding-top: 20px">
      {% block page_content %}{% endblock %}
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>
{% endblock %}

{% block scripts %}
<!-- import jquery cdn -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- import bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% endblock %}
